# config/sweep.yaml

activation:
  - identity
  - relu
  - softmax
  - tanh
  - leaky_relu
  - softplus

hidden_dim:
  - 16
  - 32
  - 64

lambda_tc:
  - 1.0

seed:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
  - 8
  - 9
  - 10
